In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import os
os.listdir('/home/ashari/Documents/Dicoding/Machine Learning Pemula')
print()

In [16]:
df = pd.read_csv('/home/ashari/Documents/Dicoding/Machine Learning Pemula/data/Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        400 non-null    int64
dtypes: int64(3), object(1)
memory usage: 12.6+ KB

In [18]:
df.drop('User ID', axis=1, inplace=True)

In [15]:
print(data)

None

In [21]:
data = pd.get_dummies(df)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [23]:
predictor=['Age', 'EstimatedSalary', 'Gender_Female', 'Gender_Male']
x = data[predictor]
y = data['Purchased']

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=40)

In [31]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
model = linear_model.LogisticRegression()

In [39]:
scores = cross_val_score(model, x_train, y_train, cv=10)
print(scores)
print('Rata-rata akurasi: {0:0.2f}%'.format(scores.mean()))

[0.625   0.625   0.625   0.625   0.625   0.625   0.78125 0.625   0.625
 0.6875 ]
Rata-rata akurasi: 0.65%

In [34]:
model.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
print('Akurasi testing: {0:0.2f}%'.format(model.score(x_test, y_test)))

Akurasi testing: 0.70%

In [40]:
from sklearn import metrics

In [ ]:
print('Akurasi: {0:0.4f}'.format(metrics.accuracy_score(y_test, tree_model.predict(x_test))))
print('Confusion Matrix')
print('{0}'.format(metrics.confusion_matrix(y_test, tree_model.predict(x_test))))
print('Ketepatan Klasifikasi')
print('{0}'.format(metrics.classification_report(y_test, tree_model.predict(x_test))))

In [45]:
print('Akurasi: {0:0.2f}%'.format(metrics.accuracy_score(y_test, model.predict(x_test))))
print('Confusion matrix')
print('{0}'.format(metrics.confusion_matrix(y_test, model.predict(x_test))))
print('{0}'.format(metrics.classification_report(y_test, model.predict(x_test))))

Akurasi: 0.70%
Confusion matrix
[[56  0]
 [24  0]]
              precision    recall  f1-score   support

           0       0.70      1.00      0.82        56
           1       0.00      0.00      0.00        24

    accuracy                           0.70        80
   macro avg       0.35      0.50      0.41        80
weighted avg       0.49      0.70      0.58        80

/home/ashari/.local/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))